/**Dec 21 2016 14:51**/
@charset "utf-8";
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
#container {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
#header {
	background: #393;
	color: white;
}
#projects {
	background: #223;
	color: white;
	box-shadow: 0px 0px 10px #343;
}
#contact {
	background: #ccf;
}
.content {
	width: 70%;
	min-width: 100px;
	margin: 0 auto;
	padding: 50px 0;
}
.content h1, .content h2 {
	text-align: center;
}
.content h1 {
	font-size: 22px;
	margin-bottom: 20px;
}
#header {
	padding-bottom: 80px;
}
#profile {
	margin-top: 10%;
	width: 20%;
	padding-bottom: 20%;
	float:left;
	background: url(profile.jpg);
	background-size: cover;
	border-radius: 1000px;
	box-shadow: 0 5px 10px #242;
}
#intro {
	margin-top: 10%;
	width: 70%;
	float: right;
	padding-left: 5%;
}
#hello {
	text-align: left;
	font-size: 44px;
	color: white;
}
#tagline {
	font-size: 20px;
	line-height: 1.5em;
}
.action {
	/*********************/
	display: none;
	/*********************/
	width: 12em;
	padding: 0.1em;
	text-align: center;
	background: #448;
	border-radius: 5px;
	float: left;
	margin-right: 1em;
}
.action a {
	color: white;
	text-decoration: none;
}
#showcase {
	margin: 0px auto;
}
#showcase .wrap {
	width:33%;
	padding-bottom: 23%;
	float:left;
}
#showcase .text {
	text-align: center;
	height: 0px;
	padding: 0 10px;
}
#showcase h2 {
	font-size: 18px;
	padding-top: 25%;
}
#showcase a:link .text{
	visibility: hidden;
}
#showcase a:hover .text{
	visibility: visible;
	text-decoration: none;
	color: white;
}
#showcase a:hover .wrap {
	background: #393 !important;
}
#showcase .tags {
	font-size: 14px;
	/*background-color: rgba(50, 200, 50, 0.8);*/
}
#showcase #aw {
	background: url(aw.png) no-repeat center;
	background-size: cover;
}
#showcase #oms {
	background: url(oms.png) no-repeat top center;
	background-size: cover;
}
#showcase #cy {
	background: url(cy.png) no-repeat top center;
	background-size: cover;
}
#showcase #rts {
	background: url(rts.png) no-repeat top center;
	background-size: cover;
}#showcase #sv {
	background: url(steeve.png) no-repeat top center;
	background-size: cover;
}#showcase #osl {
	background: url(osl.png) no-repeat top center;
	background-size: cover;
}
#contact-links {
	margin: 0 auto;
	width: 210px;
}
#contact-links div {
	float: left;
	width: 30px;
	margin: 0px 20px;
}
#contact p {
	text-align:center
}
