html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  background: #fafafa;
  color: #444;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(90vh - 10rem);
}

.container .main-content {
  text-align: center;
  width: 70%;
}

#time {
  font-size: 100px;
  margin: 0.2em 0;
}
#date {
  font-size: 50px;
}

#pomo-countdown {
  font-size: 100px;
  margin: 0.2em 0;
}
#pomo-countdown small {
  font-size: 50px;
}

#content-nav {
  font-size: 30px;
  margin: 3rem 0 0;
  color: #ccc;
}

#content-nav a {
  /* min-width: 10rem; */
  padding: 1rem 2rem;
  color: #ccc;
}

#content-nav a:hover {
  color: #888;
}

#time:hover,
#date:hover {
  cursor: pointer;
}

#writable {
  width: 70%;
  margin: calc(10vh - 5rem) auto 0;
  max-height: 5rem;
  text-align: center;
  font-size: 30px;
  color: #ccc;
  caret-color: #444;
  border: none;
  outline: 0px solid transparent;
}

#writable:focus {
  /* text-decoration: underline 1px #444; */
  border-bottom: 1px solid #ccc;
}

#writable:empty:before {
  content: attr(placeholder); /* show placeholder only when blurred */
  color: #ccc;
  pointer-events: none;
  display: block; /* For Firefox */
}

#writable:empty:focus:before {
  content: none;
}

/* unvisited link */
a.no-link-decorate:link,
a.no-link-decorate:visited,
a.no-link-decorate:hover,
a.no-link-decorate:active {
  text-decoration: none;
}
